@import '~bootstrap-icons/font/bootstrap-icons';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300;400&family=Sacramento&family=Source+Sans+Pro&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Sacramento', cursive;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 34px 50px;
    align-items: center;
    background: rgba(202, 230, 246, 0.27) 0;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 934px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 0 50px;
    align-items: center;
    margin: 0;
}

.main-nav__link {
    color: black;
}

.bottom-marked {
    position: relative;
}

.bottom-marked::before {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #3B6CE9;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    bottom: -2px;
}

.bottom-marked::after {
    display: block;
    height: 1px;
    background-color: #3B6CE9;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-nav__link_active {
    color: black;
}

.login-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    margin: 0;
}

.login-group__item {
    padding: 5px;
}

.login-group__button {
    padding: 12px 30px;
    color: #3B6CE9;
    border: 1px solid #3B6CE9;
    border-radius: 10px;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

.user-menu__name {
    padding: 0 10px;
}

.user-menu__avatar {
    border-radius: 50%;
    border: 2px solid #3B6CE9;
}

.dropdown-toggle-mark {
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-top: 5px solid #000;
    margin-top: 5px;
}

.user-menu__dropdown-toggle {
    border-top: 5px solid #3B6CE9;
}

.user-menu__options-list {
    position: absolute;
    top: 80px;
    border: 1px solid #3B6CE9;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 4px 4px 0 rgba(59, 108, 233, 0.3);
    background-color: #FFF;
    z-index: 3;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.user-menu__options-link {
    display: block;
    padding: 10px 0;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.21em;
}

.user-menu__options-link:hover {
    cursor: pointer;
    color: blue;
    font-size: 18px;
}

.main-logo {
    margin-bottom: 20px;
}

.promo {
    background: url('../img/promo-background.png')no-repeat right 120px bottom/60%, linear-gradient(180deg, rgba(202, 230, 246, 0.27) 0%, rgba(162, 117, 249, 0.53) 100%);
    position: relative;
    padding: 50px;
}

.promo__features-link {
    display: block;
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    padding: 20px;
    bottom: 15px;
    left: 45%;
    background: url("../img/icons/four-arrows-down-icon.png") no-repeat center center;
    background-size: 80%;
    transition: 0.2s;
}

.promo__features-link:hover {
    background-size: 100%
}

.promo__tagline {
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    text-align: center;
    width: 500px;
}

.promo__button {
    width: 270px;
    height: 50px;
    border: 1px solid #043FD6;
    border-radius: 5px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.21em;
    text-align: center;
    animation: background-animation 3s infinite linear;
    background: linear-gradient(90deg, rgba(202, 230, 246, 0.27) 0%, rgba(162, 117, 249, 0.53) 50%, rgba(202, 230, 246, 0.27) 100%);
    background-position: 0 0;
}

@keyframes background-animation {
    100% {
        background-position: 270px 0;
    }
}

.promo__button:hover {
    background-color: rgba(59, 108, 233, 0.18);
}

.promo__button:active {
    background-color: rgba(59, 108, 233, 0.32);
}

.promo__button_move-right {
    margin-left: 110px;
}

.features {
    padding: 50px;
    background-image: url('../img/features-background.png');
    background-repeat: no-repeat;
    background-position: top 100px right 60px;
    background-size: 30%;
}

.features__top {
    padding-right: 400px;
    min-height: 370px;
}

.features__title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0.05em;
    text-align: center;
}

.features__description {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.025em;
    text-align: left;
}

.features__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0.05em;
    text-align: center;
    padding-bottom: 30px;
}

.features__list {
    display: flex;
    justify-content: space-around;
}

.features__list-item {
    padding-top: 100px;
    text-align: center;
    width: 170px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.025em;
}

.features__list-item_pulse {
    background: url('../img/icons/pulse-icon.png') top center no-repeat;
}

.features__list-item_book {
    background: url('../img/icons/book-icon.png') top center no-repeat;
}

.features__list-item_hat {
    background: url('../img/icons/hat-icon.png') top center no-repeat;
}

.features__list-item_thumbs-up {
    background: url('../img/icons/thumbs-up-icon.png') top center no-repeat;
}

.features__list-item_gear {
    background: url('../img/icons/gear-icon.png') top center no-repeat;
}

.main-footer {
    background: linear-gradient(180deg, rgba(90, 200, 225, 0.87) 0%, #CDB7FA 100%);
    padding: 50px 80px;
    display: flex;
    color: #0061FE;
}

.main-footer__logo {
    margin-top: 50px;
}

.main-footer__navigation {
    margin-top: 70px;
    margin-left: 100px;
}

.navigation {
    font-family: Source Sans Pro, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: left;
}

.main-footer__contacts {
    margin-left: auto;
    margin-top: 30px;
}

.contacts {
    font-family: Source Sans Pro, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: right;
}

.contacts__button {
    border: 1px solid #FFFFFF;
    background-color: #3660CC;
    color: #FFF;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.contacts__button:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.contacts__button:active {
    background-color: rgba(255, 255, 255, 0.80);
    color: #3660CC;
}

.contacts__phone {
    font-family: Source Sans Pro, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-bottom: 20px;
}

/*enter-page*/

.enter-page {
    min-height: 1013px;
    padding-top: 97px;
    padding-left: 700px;
    padding-right: 100px;
    background-image: url("../img/enter-page-background.png");
    background-repeat: no-repeat;
    background-position: top 100px left 50px;
    background-size: 45%;
    text-align: center;
}

.enter-page__heading {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #2A79F8;
}

.enter-page__form {
    margin-bottom: 15px;
}

.primary-input {
    border: 2px solid rgba(59, 108, 233, 1);
    height: 46px;
    width: 522px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.enter-form__input {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: top 5px left 10px;
}

.primary-input:hover, .primary-input:focus {
    border-width: 4px;
}

.enter-form__input_email {
    background-image: url("../img/icons/user-icon.png");
}

.enter-form__input_password {
    background-image: url("../img/icons/lock-icon.png");
}

.enter-form__additions {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.enter-form__checkbox {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.enter-form__text {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.enter-form__button {
    height: 45px;
    width: 94px;
    border-radius: 10px;
    padding: 12px 30px;
    border: 1px solid #3B6CE9;
    background-color: #FFF;
}

.enter-form__button:hover {
    background-color: rgba(59, 108, 233, 0.12);
}

.enter-form__button:active {
    background-color: rgba(59, 108, 233, 0.24);
}

.enter-page__social-networks {
    margin: auto auto 40px;
}

.social-networks {
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding: 0;
}

.social-networks__link {
    display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
    background-image: url("../img/icons/vk-round-icon.png");
}

.social-networks__link_ok {
    background-image: url("../img/icons/ok-icon.png");
}

.social-networks__link_gmail {
    background-image: url("../img/icons/gmail-icon.png");
}

.social-networks__link_yandex {
    background-image: url("../img/icons/yandex-icon.png");
}

.social-networks__link_appstore {
    background-image: url("../img/icons/appstore-icon.png");
}

/*Register-page*/
.register-page {
    min-height: 1013px;
    background-image: url("../img/register-page-background.png");
    background-repeat: no-repeat;
    background-position: top 90px right;
    background-size: 90%;
}

.register-page__logo {
    margin-bottom: 14px;
}

.register-page__heading {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 60px;
    color: #2A79F8;
}

.register-page__column-wrapper {
    display: flex;
    justify-content: space-between;
}

.register-page__column {
    width: 570px;
    padding: 20px;
}

.register-form__label {
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 19px;
}

.register-form__input {
    margin-bottom: 19px;
}

.register-form__submit-button {
    width: 419px;
    border: 3px solid #3B6CE9;
    border-radius: 10px;
    padding: 12px 30px;
    color: #3B6CE9;
    font-family: Source Sans Pro, sans-serif;
    font-size: 36px;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
    background-color: #FFF;
}

.register-page__column_right {
    padding-top: 500px;
}

.authorization-options__item {
    width: 473px;
    height: 64px;
    border-radius: 40px;
    margin-bottom: 35px;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-repeat: no-repeat;
    background-position: top 17px left 20px;
    padding: 10px;
}

.authorization-options__item_google {
    background-image: url("../img/icons/google-icon.png");
    background-color: #F1F1F1;
}

.authorization-options__item_apple {
    background-image: url("../img/icons/apple-icon.png");
    background-color: #0A0A0A;
    color: #FFF;
}

.authorization-options__item_vk {
    background-image: url("../img/icons/vk-square-icon.png");
    background-color: #567FBD;
    color: #FFF;
}

/*Account-page*/
.account-page {
    display: flex;
    justify-content: space-between;
}

.account-navbar {
    width: 260px;
    background: linear-gradient(180deg, rgba(31, 159, 217, 0.24) 0%, rgba(133, 69, 247, 0.24) 100%);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    min-height: 800px;
    flex-shrink: 0;
}

.account-navbar__avatar {
    border-radius: 50%;
    margin: 0 auto 11px;
}

.account-navbar__username {
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.account-navbar__username::before {
    left: 10%
}

.account-navbar__username::after {
    width: 80%;
    left: 10%;
}

.account-navigation {
    width: 214px;
    margin: 0;
    padding: 0;
}

.account-navigation__item {
    margin-bottom: 30px;
}

.account-navigation__item-link {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.account-navigation__item-link_active {
    color: #3B6CE9;
}

.dropdown-account {
    position: relative;
    padding: 10px 10px 10px 20px;
    background-image: url("../img/icons/question-mark-icon.png");
    background-position: left 40px top 5px;
    background-repeat: no-repeat;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.dropdown-account__dropdown-toggle-mark {
    position: absolute;
    top: 16px;
    right: 35px;
}

.dropdown-account__list {
    width: 184px;
    padding: 36px 10px 16px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(59, 108, 233, 0.3);
    border-radius: 10px;
    margin: 10px 0 0;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.dropdown-account__item {
    margin-bottom: 25px;
}

.dropdown-account__link {
    color: #000;
}

.dropdown-account__link:hover, .dropdown-account__link:active {
    color: #3B6CE9;
}

.account-page__content {
    max-width: 1036px;
}

/*Achievements-page*/
.achievements-page {
    background-image: url("../img/achivements-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 80px;
}

.achievements-page__top {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px 40px;
    margin-bottom: 40px;
}

.achievements-page__top::before {
    left: 150px;
}

.achievements-page__top::after {
    width: 620px;
    left: 150px;
}

.achievements-page__top-item {
    width: 350px;
    height: 112px;
    background: #FFFFFF;
    box-shadow: 0 5px 5px 5px rgba(59, 108, 233, 0.45);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.achievements-page__top-text {
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.achievements-page__top-date {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #3B6CE9;
}

.achievements-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
}

.achievements-list__item {
    margin-bottom: 20px;
}

.achievement-card {
    width: 270px;
    height: 200px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 5px 5px rgba(40, 125, 64, 0.45);
    border-radius: 10px;
    padding-top: 140px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top 20px center;
}

.achievement-card_yellow-shadow {
    box-shadow: 0 5px 5px 5px rgba(196, 180, 41, 0.45);
}

.achievement-card__text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.achievement-card__number {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #CA0000;
}

.achievement-card_training-days {
    background-image: url("../img/icons/cup-icon.png");
}

.achievement-card_training-days-strike {
    background-image: url("../img/icons/chart-icon.png");
}

.achievement-card_max-training-days-strike {
    background-image: url("../img/icons/reward-icon.png");
}

.achievement-card_user-words-total-count {
    background-image: url("../img/icons/dictionary-icon.png");
}

.achievement-card_user-words-in-progress-count {
    background-image: url("../img/icons/book-with-hand-icon.png");
}

.achievement-card_user-words-learned-count {
    background-image: url("../img/icons/letters-icon.png");
}

/*Practice-page*/
.practice-page {
    min-height: 700px;
    background-image: url("../img/practice-page-background.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 10px 80px 270px;
    text-align: center;
}

.practice-page__heading {
    font-family: Raleway, sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #3B6CE9;
    margin-bottom: 50px;
}

.practice-page__dictionary-name {
    font-family: Sacramento, cursive;
    font-size: 40px;
    font-weight: 400;
}

.practice-page__start-button {
    height: 74px;
    width: 395px;
    border-radius: 10px;
    border: 2px solid #3B6CE9;
    padding: 10px 30px 14px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 36px;
    font-weight: 400;
    background: #FFF;
    color: #3B6CE9;
    margin-bottom: 30px;
}

.practice {
    box-shadow: 0 5px 5px 5px #3B6CE973;
    padding: 50px;
    border-radius: 10px;
    position: relative;
}

.practice__question {
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 300;
}

.practice__score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #3B6CE9;
}

.current-word {
    position: relative;
}

.current-word__word {
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #3B6CE9;
}

.current-word__voice-option {
    position: absolute;
    top: 0;
    right: 10px;
    width: 200px;
}

.voice-action {
    margin-left: 10px;
}

.answers-list {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 0;
}

.answer-list__answer-item {
    border: 3px solid #3B6CE9;
    border-radius: 10px;
    padding: 8px 52px;
    color: #3B6CE9;
    font-family: Source Sans Pro, sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.answer-list__answer-item.active {
    color: white;
    background-color: #3B6CE9;
}

.answer-list__answer-item:hover {
    color: white;
    background-color: #3B6CE9;
}

.task-area__result {
    height: 50px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.task-area__success {
    color: green;
}

.task-area__mistake {
    color: red;
}

.practice__controls {
    display: flex;
    justify-content: space-around;
    padding: 0 250px;
}

.practice-controls__button {
    font-family: Source Sans Pro, sans-serif;
    font-size: 24px;
    font-weight: 400;
    border-radius: 10px;
    border: 3px solid #256C39;
    color: #256C39;
    padding: 8px 15px;
    background-color: #FFF;
}

.practice-controls__button_finish {
    color: #CA0000;
    border-color: #CA0000;
}

.practice-controls__button.disabled, .practice-controls__button:disabled {
    color: gray;
    border-color: gray;
}

.practice-result {
    font-family: Source Sans Pro, sans-serif;
    font-size: 36px;
    font-weight: 400;
}

/*Dictionaries-page*/

.dictionaries-page {

}

.dictionaries-page__search-form {
    width: 828px;
    margin: 0 auto 30px auto;
}

.search-form {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.search-form__input {
    width: 700px;
    padding: 10px 30px 10px 78px;
    border-radius: 10px 0 0 10px;
    background: url("../img/icons/search-blue-pink-icon.png") no-repeat 30px 10px, linear-gradient(180deg, #CBE6F6 0%, #E0D3FC 100%);
}

.search-form__submit {
    width: 128px;
    padding: 10px 30px;
    background: linear-gradient(180deg, #CBE6F6 0%, #E0D3FC 100%);
    border-radius: 0 10px 10px 0;
    color: #3B6CE9;
    border-left: 1px solid #3B6CE9;
}

.dictionaries-page__new-dictionary-button {
    display: block;
    background-color: #FFF;
    height: 45px;
    width: 243px;
    border-radius: 10px;
    padding: 8px 30px 16px;
    color: #3B6CE9;
    border: 3px solid #3B6CE9;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 800px;
    text-align: center;
}

.dictionary-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.dictionary-list__item {
    margin: 15px;
}

.dictionary-item {
    min-height: 292px;
    width: 329px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #3B6CE9A1;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFF;
}

.dictionary-item__image {
    margin-bottom: 6px;
}

.dictionary-item__text {
    color: black;
}

.dictionary-item__text_name {
    color: #3B6CE9;
}

.dictionary-item__meta {
    display: block;
    border-radius: 10px;
    background: linear-gradient(180deg, #CDE4F7 0%, #E0D3FC 100%);
    color: #A1A1A1;
    padding: 10px;
    margin: 0;
}

.user-dictionaries-page {
    padding-right: 300px;
    background: url('../img/my-dictionaries-background.png') top right;

}

.user-dictionaries-page__links-group {
    display: flex;
    justify-content: flex-end;
}

.user-dictionaries-page__link-button {
    border: 3px solid #3B6CE9;
    border-radius: 10px;
    padding: 12px 30px;
    margin-left: 10px;
    background-color: #FFF;
}


/*User-groups-page*/

.user-groups {
    background: url('../img/my-groups-background.png') no-repeat right top;
    background-size: contain;
    width: 1036px;
    text-align: center;
}

.user-groups__title {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.user-groups__count {
    color: #3B6CE9;
}

.groups-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.groups-list__item {
    margin: 15px;
}

.group-item {
    min-height: 300px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #3B6CE9A1;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: #FFF;
}

.group-item__image {
    margin-bottom: 14px;
}

.group-item__title {
    font-size: 24px;
    font-weight: 600;
    color: #3B6CE9;
}

.group-item__description {
}

.group-item__footer {
    display: block;
    border-radius: 10px;
    background: linear-gradient(180deg, #CDE4F7 0%, #E0D3FC 100%);
}

.group-item__footer-text {
    margin: 0;
    padding: 10px;
}

.group-item__footer-value {
    color: #3B6CE9;
    font-size: 24px;
    font-weight: 600;
}

/*dictionary-page*/
.dictionary-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 800px;
    background: url("../img/one-dictionary-background.png") no-repeat top 300px right;

}

.dictionary-page__content {
    width: 900px;
}

.dictionary-content {
    padding: 20px;
    font-family: Source Sans Pro, sans-serif;
}

.dictionary-content__buttons-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.dictionary-content__button {
    min-width: 260px;
    border-radius: 10px;
    padding: 12px;
    background: linear-gradient(180deg, #CCE5F7 0%, #DBD8FB 100%);
    font-size: 18px;
    text-align: center;
    color: #3B6CE9;
}

.dictionary-content__start-button {
    display: block;
    width: 400px;
    height: 80px;
    margin: 0 auto 20px auto;
    padding-top: 20px;
    font-size: 25px;
}

.dictionary-content__table {
    background: linear-gradient(180deg, #CDE5F7 0%, rgba(247, 247, 247, 0) 100%);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.dictionary-table__head {
    font-size: 20px;
    font-weight: 600;
    color: #3B6CE9;
}

.dictionary-table__body {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: left;
}

.dictionary-table__cell {
    padding: 10px;
    text-align: center;
}

.dictionary-table__delete-button {
    width: 30px;
    height: 30px;
    font-size: 0;
    background: url("../img/icons/backet-icon.png") no-repeat;
}

.dictionary-content__add-word-form {
    width: 100%;
    margin-bottom: 40px;
}

.add-word-form {
    padding: 20px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.add-word-form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.add-word-form__input-area {
    width: 48%;
}

.add-word-form__input-label {
    font-weight: 300;
    margin-bottom: 10px;
}

.add-word-form__input, .add-word-form__textarea {
    border: 3px solid #3B6CE9;
    border-radius: 20px;
    width: 100%;
    padding: 7px 15px;
}

.add-word-form__row_controls {
    padding: 0 130px;
    justify-content: space-between;
}

.settings-page {
    width: 100%;
    padding: 20px;
    font-family: Raleway, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #3B6CE9;
}

.settings-page__heading {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

.settings-page__avatar {
    border-radius: 50%;
    margin-bottom: 40px;
}

.settings-form__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, #CBE6F6 0%, #E0D3FC 100%);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 40px;
}

.setting-form__group {
    text-align: center;
    width: 100%;
}

.settings-form__label {
    padding: 0 20px;
}

.settings-form__file-input, .settings-form__input {
    background: #FFFFFF;
    border: 2px solid #3B6CE9;
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    margin-left: 20px;
    width: 95%;
}

.settings-form__file-input:after {
    content: 'Выберите файл';
    display: block;
    background: #3B6CE9;
    color: #FFF;
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 10px;
    padding: 5px 15px 9px;
    box-sizing: border-box;
}

.setting-form__checkbox {
    position: relative;
    width: 0;
    height: 0;
}

.setting-form__checkbox::after, .setting-form__checkbox:checked::after {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    display: block;
    content: '';
    border: 1px solid #3B6CE9;
    border-radius: 3px;
}

.setting-form__checkbox:checked::after {
    background-image: url("../img/icons/checkbox-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.setting-form__button {
    min-width: 300px;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(180deg, #CCE5F7 0%, #DBD8FB 100%);
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #3B6CE9;
    box-sizing: border-box;
    height: 60px;
}

.setting-form__button:hover {
    border: 1px solid #3B6CE9;
}

.setting-form__button:active {
    background: #3B6CE9;
    color: #FFF
}
