// color
$color-font: #222222;
$color-primary: #222222;
$color-second: #0dcaf0;


// font-family
$font-inter: 'Inter', sans-serif;

$font-size-title: 40px;
$font-size-primary-btn: 16px;
$font-size-primary: 18px;

